/* 01-GetStarted CSS */

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}

#results {
  align-self: center;
  width: 60%;
  margin: 10px auto;
}

